<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hadaf Solutions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">title</th>
                <th scope="col">body</th>
                <th scope="col"></th>
                <th scope="col"></th>
    
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of posts">
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{ (post.body.length > 50) ? (post.body | slice: 0:50) + '...' : post.body }}</td>
                <td>
                    <a [routerLink]="['/posts-list/update/', post.id]" class="btn btn-default text-primary"><i class="fas fa-edit"></i></a>
                </td>
                <td>
                    <a href="javascript:;"  class="btn btn-default text-danger" (click)="delete(post.id)"><i class="fas fa-trash-alt"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
